.button {
  width: 100%;
  padding: 10px;
}

.tab {
  background-color: $color_text_input;
}

.primary {
  background-color: $color_primary;
  color: $color_text_input;
}

.cancel {
  background-color: $color_error;
}