.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  width: 100%;
  max-width: 992px;
}

.tabs {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.content {
  height: 100%;
}

.active {
  background-color: $color_primary;
  color: $color_text_input;
}